.staff-container {
    margin: 50px 0px;
}
.nav {
    height: 100vh;
    width: 280px;
    padding: 108px 10px;
    /* background-color: #333; */
}
.btn-add-user {
    width: 100%;
    margin-bottom: 16px;
    display: block;
}
